@import "tailwindcss";

* {
    font-family: Inter Tight;
}

body{
  background-color: black;
  position: relative;
  font-family: sans-serif;
}

h1{
  color: teal;
}

img{
  width: 500px;
  height: 500px;
}

.mui{
  animation: muiAura 1s linear infinite alternate;
  filter: blur(1.3);
}

@keyframes muiAura {
  from{
    filter: 
      drop-shadow(0 0 10px #aaf4ff)
      drop-shadow(0 0 20px #007bff)
      drop-shadow(0 0 30px #7e00ff);
  }
  to{
    filter: 
      drop-shadow(0 0 10px #ffffff)
      drop-shadow(0 0 20px #00e0ff)
      drop-shadow(0 0 30px #d040ff);

  }
}

.ue{
  animation: ueAura 1s linear infinite alternate;
  filter: blur(1.3);
}

@keyframes ueAura {
  from {
    filter:
      drop-shadow(0 0 10px #ff2bf4)
      drop-shadow(0 0 15px #7a00cc)
      drop-shadow(0 0 15px #c100ff);
  }
  to {
    filter:
      drop-shadow(0 0 10px #ff0bff)
      drop-shadow(0 0 20px #5d008b)
      drop-shadow(0 0 35px #fd3ae6);
  }
}

.fp{
 animation: fpAura 1s linear infinite alternate;
 filter: blur(1.3);
}

@keyframes fpAura {
  from {
    filter:
      drop-shadow(0 0 10px #59f809)
      drop-shadow(0 0 15px #a3ff00)
      drop-shadow(0 0 15px #f6ff00);
  }
  to {
    filter:
      drop-shadow(0 0 10px #2dee2d)
      drop-shadow(0 0 20px #d4ff36)
      drop-shadow(0 0 30px #fff700);
  }
}

body::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* 
@keyframes flash {
  from{
    background-color: black;
    opacity: 25%;
  }
  to{
    background-color: white;
  }
}




@keyframes cardDesapear {
  0%{
    opacity: 100%;
  }

  100%{
    opacity: 0%;
  }

}

@keyframes cardTranslate {
  from{
    opacity: 0%;
  }
  to{
    opacity: 0%;
    transform: translateX(-2500px);
  }
}

@keyframes cardCenter {
  10%{
    transform: rotate(-10deg) translate(10px);
    
  }
  25%{
    transform: rotate(10deg) translate(-10px);
  }
  45%{
    transform: rotate(-10deg) translate(10px);
  }
  70%{
    transform: rotate(10deg) translate(-10px);
  }
  90%{
    transform: rotate(-10deg) translate(10px);
  }
  100%{
    transform: rotate(0deg) translate(0px);
  }
} */

.card {
  width: 330px;
  height: 450px;  
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s linear;
} 

.inner-frame {
  width: 280px;
  height: 344px;
  background: linear-gradient(to bottom, #5c5c5c, #d6e1ff);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  clip-path: path(
    "M 30,0 L 250,0 A 40,40 0,0,0 280,30 L 280,330 A 40,40 0,0,0 266,344 L 14,344 A 40,40 0,0,0 0,328 L 0,30 A 40,40 0,0,0 30,0 Z");
}

.character {
  width: 82%;
  height: auto;
  object-fit: contain;
}

.card-title {
  margin-top: 12px;
  background: black;
  color: white;
  font-size: 22px;
  text-align: center;
  padding: 4px;
  clip-path: path(
    "M 20,0 L 260,0 A 50,50 0,0,0 252,41 L 28,41 A 50,50 0,0,0 20,0 Z"
  );
}

.deco-1{
  width: 280px;
  height: 344px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 200;
  clip-path: path(
    "M 15,0 L 20,0 A 40,40 0,0,1 0,20 L 0,15 A 30,30 0,0,0 15,0 Z");
}

.deco-2{
  width: 280px;
  height: 344px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 200;
  clip-path: path(
    "M 260,0 L 265,0 A 20,20 0,0,0 280,15 L 280,20 A 30,30 0,0,1 260,0 Z");
}

.deco-3{
  width: 280px;
  height: 384px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 200;
  clip-path: path(
    "M 0,345 L 0,350 A 40,40 0,0,1 15,380 L 20,380 A 40,40 0,0,0 0,345 Z");
}

.deco-4{
  width: 280px;
  height: 384px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 200;
  clip-path: path(
    "M 280,345 L 280,350 A 40,40 0,0,0 265,380 L 260,380 A 40,40 0,0,1 280,345 Z");
}